body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
        color: #333;
    }

    h1, h2 {
        color: #d9534f;
    }

    .recipe-card {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #ffffff33;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .recipe-detail {
        padding: 8px 0;
    }

    .recipe-detail:last-child {
        border-bottom: none;
    }

    .detail-label {
        font-weight: bold;
        padding-right: 4px;
    }

    ul, ol {
        padding-left: 20px;
    }

    ul.steps li:before {
        display: none!important;
    }
	.goog-te-combo {
        width: 100%;
        padding: 6px 4px;
        border-radius: 4px;
    }
    .separator {
        text-align: center;
        margin-bottom: 1em;
    }

    /* Tab Styles */
    .tabs {
        display: flex;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 0px 0px 0px 20px;
    }

    .tab {
        padding: 6px 10px;
        margin-right: 8px;
        background-color: #f1f1f1;
        border-radius: 5px;
        transition: background-color 0.3s ease;
  		color:#222;
    }

    .tab:hover {
        background-color: #ddd;
    }

    .tab.active {
        background-color: #d9534f;
        color: white;
        font-weight: bold;
    }

    .tab-content {
        display: none;
    }
  	.tab-content h3 {
        margin-left: 20px!important;
    }

    .tab-content.active {
        display: block;
    }

    .print-button {
        background-color: #d9534f;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin: 12px 0;
        transition: background-color 0.3s ease;
    }

    .print-button:hover {
        background-color: #c9302c;
    }
  
    /* Dark mode */
    .is-dark .goog-te-combo {
  		color:#fff;
    }
	.is-dark .goog-te-combo option {
        background-color:#222226;
    }
    .is-dark .entry-category {
        background-color: #ffffff;
        color: #000000;
    }
    .is-dark .Stats .text-counter-wrapper,
    .is-dark .title-wrap &gt; .title {
        color: #ffffff;
    }
    .is-dark .entry-info .entry-title,
    .is-dark .entry-title a,
    .is-dark .title-wrap &gt; .title-link {
        color: #ff0!important;
    }
    .is-dark .title-wrap &gt; .title-link {
        font-size: 13px;
        background-color: #ff0!important;
        color: #000!important;
    }
    .is-dark .entry-meta {
        color: #adadad;
    }
    .p-0 {padding:0px;}
    .clear-both {clear: both;}
    .fimg-link {display: block; padding: 1em 0; text-align: center;}
    .oimg {width: 100%; height: auto;}
    .text-center {text-align:center;}
    .footer-logo {width:240px;}
    .d-none {display:none;}
